{% extends 'base.html' %}
{% block content %}
    {% csrf_token %}
    <form action="{% url 'generate-reports' %}">
        {% csrf_token %}
        <input type="submit" value="Create Reports" />
    </form>
    </br>
    <form action="{% url 'booking-status' %}">
        {% csrf_token %}
        <input type="submit" value="Check in/out" />
    </form>
    <form action="{% url 'day-input' %}">
        {% csrf_token %}
        <input type="submit" value="Check Departures and Arrivals" />
    </form>
{% endblock %}