{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
<html>
<head>
    <title>ParkEasy Airport Parking</title>
</head>
<body>
<div class="navbar">
    <div class="dropdown" style="float:left;">
        <button class="dropbtn">Dropdown</button>
        <div class="dropdown-content" style="left:0;">
            <h3>Make a booking</h3>
            <form method = "POST">
                {% csrf_token %}
                {% for field in form %}
                    <p>
                        {{ field.label_tag }}<br>
                        {{ field }}
                    </p>
                {% endfor %}
                <input type="submit" formmethod="post" Value="Make Booking!">
            </form>
        </div>
    </div>
    {% if user.is_authenticated %}
        <a href="{% url 'booking' %}">Make Booking</a>
    {% else %}
        <a href="{% url 'login' %}">login to Make Booking</a>
    {% endif %}
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'view-bookings' %}">View Bookings</a>
    {% if user.is_superuser %}
        <a href="{% url 'admin:index' %}">Admin</a>
    {% endif %}
    {% if user.is_authenticated %}
        <a href="{% url 'edit' %}">{{ request.user.email }}</a>
    {% endif %}
    <div class="dropdown" style="float:right;">
        <button class="dropbtn">test</button>
        <div class="dropdown-content">
            {% if user.is_authenticated %}
                <p><a href="{% url 'logout' %}">edit user</a></p>
                <p><a href="{% url 'logout' %}">logout</a></p>
            {% else %}
                <p>You are not logged in.</p>
                <a href="{% url 'login' %}">login</a>
            {% endif %}
        </div>
    </div>
</div>
<header>
    {% block header %}
    {% endblock header %}
</header>
{% block content %}
{% endblock content %}
</body>
</html>