{% extends 'base.html' %}
{% block title %}Make Booking{% endblock %}
{% block content %}
    <h3>Make a booking</h3>
    <form method = "POST">
        {% csrf_token %}
        {% for field in form %}
            <p>
                {{ field.label_tag }}<br>
                {{ field }}
            </p>
        {% endfor %}
        {% if error in request %}
            <h3></h3>
        {% endif %}
        <input type="submit" formmethod="post" Value="Add a Vehicle">
    </form>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}