{% extends 'base.html' %}
{% block title %}Make Booking{% endblock %}
{% block content %}
<form action="{% url 'checkout' %}" method="POST">
    {% csrf_token %}
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="pk_test_CjUTf64aBqF2uU2TdROX19aP"
        data-amount="2000"
        data-name="ParkEast Airport Parking"
        data-description="Space Booking"
        data-image=""
        data-currency="gbp">
    </script>
</form>
{% endblock content %}